fastapi
uvicorn
sqlalchemy
psycopg
pydantic-settings
python-dotenv
alembic
bcrypt
PyJWT
pydantic[email]
pytest
redis
langchain
langgraph
langchain-groq
langchain-chroma 
langchain-huggingface 
sentence-transformers
langchain-community 
unstructured
markdown
mcp